body{
    background-image: url('CANO8561.jpg');
    background-size: cover;

    
    
}
p{
    text-align: center;
    
    
}
.container{
    

    
    font-family: 'Oswald', sans-serif;
    
    font-size:75px;
    
    color :#fff;
    background-color: rgb(12, 5, 71, 0.5);
    
    
    
}
.x{
    margin: 700px;;
}
